body{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#container{
    border: 2px black solid;
    display: grid;
    grid-template-columns: 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px;
    width: 200px;
}
.item{
    height: 20px;
    border: 1px solid black;
    width: 20px;
}
.main{
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 45px 10px rgba(0,0,0,0.75);
}